doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/assets/css/styles-pug.css")
  body
    block header
      nav.nav 
        nav.navlink
          a(href="/") Note Taker
    block content