extends layout.pug

block content
  main
    .tron 
      form(action=`/notes` method="POST" class="inner") 
        label(for="note-title") Note Title New
        input(type="text" name="note-title")
        label(for="note-body") Note Body
        textarea(name="note-body")
    