extends layout.pug

block content
  main
    .tron
      .inner
        h1 Note Taker 
          a(href='#')
            i.fa.fa-sticky-note(aria-hidden='true') 
        h2 Take notes with Express
        button.start Get Started 
          i.fa.fa-arrow-right(aria-hidden='true') 
