html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background: #02B875;
  height: 50px;
}

nav.navlink {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}


h3 {
  margin: 0;
}

.tron {
  background: #E9ECEF;
  border-radius: 5px;
  margin-top: 70px;
  width: 80%;
  height: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40px;
  height: 230px;
  line-height: 2;
  text-align: center;
}

button {
  background-color: #4582EC;
  color: white;
  border-radius: 25px;
  height: 40px;
  width: 130px;
  font-size: 1rem;
}

h1 {
  font-size: 2.5em;
}

/* 
.note-textarea,
.note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
} */

/* .note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
} */

/* .note-title:read-only,
.note-textarea:read-only {
  color: #757575;
} */

/* .list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
} */